
#head {
    margin-top: 300px;
}

#src{
    justify-content : center;
    width: 40%;
    margin-top: 20px;
    margin-left: 400px;
}

#src2{
    justify-content : center;
    width: 40%;
    margin-left: 400px;
    margin-top: 20px;
}

#src3{
    justify-content : center;
    width: 40%;
    margin-left: 400px;
    margin-top: 20px;
}

.txt {
    text-align: center;
    margin-top: 10px;
}

