html {
    background: url(../images/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.opacity{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    height: 100%;
    width:100%;
    background-color:rgba(0,0,0,0.9);
    overflow: scroll;
}


.topNumber {
    font-weight: bold;
    font-size: 1.3em;
}

.form-control {
    font-family: 'Special Elite', cursive;
}

.btn-lg {
    margin-right: 10px;
}  


img.centerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bandImg {
    display: none;
    -webkit-animation: fadeIn 3s;
    animation:  fadeIn 3s;
}

#bandNameBtn, #genreBtn, #locationBtn {
    padding: 20px 40px 20px 40px;
    background-color:#16e5ecc4;
    font-family: 'Special Elite', cursive;
}


#container2 {
    font-size:1.5em;
    font-family: 'Special Elite', cursive;
}


#content {
    width:70%;
}

#bandContent {
    display: none;
    font-family: 'Special Elite', cursive;
    text-align: justify;
}

#bandSchedule {
    display: none;
    text-align: center;
    font-family: 'Special Elite', cursive;
}


#bandSearchDiv, #genreSearchDiv, #locationSearchDiv {
    margin-left: 20px;
    margin-bottom: 40px;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 3s;
}


/* Animations */
#Logo {
    width: 18%;
    -webkit-animation: bounceInRight 2s;
    animation: bounceInRight 2s;

}

#searchBy {
    font-size: 1.8em;
    -webkit-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s;
}

#mainButtonsDiv {
    -webkit-animation: bounceInUp 2s;
    animation: bounceInUp 2s;
    opacity: 2.0;
}

.centerHome { 
    display: flex; justify-content: center; 
    font-family: 'Special Elite', cursive;
}

.centerForm {
    display: flex; justify-content: center; 
}

#homeBtn {
    display:none;
    padding: 20px 40px 20px 40px;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
    background-color: #16e5ecc4;
}

#bioBtn {
    display: none;
}

#scheduleBtn {
    display: none;
}


#formDiv {
    text-align: center;
    display:none;
}

#bandImg {
    display: none;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

#buttons {
    display:none;
    font-family: 'Special Elite', cursive;
    margin-bottom: 80px;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}
#btnBio, #btnSchedule {
    background-color: #16e5ecc4;
}

/*End Animations*/

@media only screen and (max-width: 741px) {
   
 #header {
     width: 100%;
 }   

#Logo {
    width: 60%;
    
}

.col-10 {
    margin-left: -35px;
}



 .margin{
    width: 200px;
    margin-bottom: 20px;
    margin-right: 250px;
    margin-left: 50px;
}



#container2{
    margin-left: 20px;
}

.form-inline {
    margin-right: 50px;
}

}
/* 
@media only screen and (min-width: 641px) and  (max-width: 731px) {

#mainButtonsDiv {
    margin-left: 100px;
    padding: 50px;
}
} */


